.customNotificationGroup {
  z-index: 9999;
  top: 35px;
  left: 0;
  align-items: flex-start;
  width: 100%;
}

.ui-notification-title {
  align-items: flex-start;
  display: block;
  margin-bottom: .4em;
  margin-top: 0;
  font-size: 18px;
  line-height: 1.1;
  font-weight: 500;
  box-sizing: border-box;
}

.ui-notification-text{
  word-wrap: break-word;
  word-break: break-word;
}

